.gray{
    color: #8a8888;
    font-weight: bolder;
}
.gray1{
    color: #8a8888;
    font-weight: bolder;
    font-size: 15px;
}
.right{
    float: right;
}
.dark{
    font-weight: bolder;
    color:black;
    margin-left:0;
    display:inline;
}

*{
    margin:0;
    padding:0;
}
.inline{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}
.margin-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.chatHeader{
    display: flex;
    align-items: center;
    padding:10px;

}
.chatImage{
    margin-left:10px;
    margin-right: 10px;
    border-radius: 50%;
    height:30px;
    width:30px;
}

.online:focus{
    outline:0
}

.input-icons img { 
    position: absolute; 
} 
  
.searchicon { 
    padding: 10px; 
    text-align: center; 
    margin-top: 2px;
} 
  
.input-field { 
    text-align: center; 
} 